body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardContainer {
    display: grid;
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 1%;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr) ;
    border: 6px;
}

h1 {
    text-align: center;
}

.box {
    border: 6px solid;
    font-size: 1000%;
    background-color: aliceblue;
    text-align: center;
}

.promptContainer {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    border: none;
    padding: 25px;
    height: fit-content;
    width: fit-content;
    color: black;
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    font-size: 30pt;

}

.marker-button {
    text-align: center;
    border: none;
    padding: 25px;
    height: fit-content;
    width: fit-content;
    color: black;
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    font-size: 30pt;
}

.hide-button {
    display: none;
}